.buttonGroup {
    padding: var(--spectrum-global-dimension-size-300);
    padding-top: 0;
}

.taskTypeSelectionTitle {
    color: var(--spectrum-global-color-gray-900);
    font-size: var(--spectrum-global-dimension-font-size-200);
    text-align: center;
}

.objectsToLearnTitle {
    font-size: var(--spectrum-global-dimension-size-200);
    color: var(--spectrum-global-color-gray-900);
}
