default_language_version:
    python: python3.13

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
  - id: ruff-check
    args: ["--fix"]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.17.1
  hooks:
    - id: mypy
      additional_dependencies: [types-pyyaml==6.0.12, types-aiofiles==24.1.0.20240626]
