default_language_version:
    python: python3.10

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
  - id: ruff-check
    args: ["--fix"]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      additional_dependencies: [types-pyyaml==6.0.12]
