:root {
    --background: #313236;
    --background-inverse: #3c3e42;
    --coral: #ff5662;
    --energy-blue-light: #7bdeff;
    --energy-blue: rgb(0, 199, 253);

    --daisy-shade: rgb(237, 178, 0); /* #edb200 */
    --brand-daisy: #fec91b;
    --brand-daisy-tint: #ffe17a;
    --brand-rust: #e96115;

    --annotation-fill: var(--daisy-shade);
    --annotation-stroke: var(--energy-blue-light, #7bdeff);

    --annotation-fill: var(--color-pink-300);
    --annotation-stroke: var(--color-rose-500);

    --annotation-fill: #e9611580;
    --annotation-stroke: #7bdeff;

    --moss-tint-1: #b1d272;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
