body,
html {
    margin: 0;
    padding: 0;
    background-color: #313236;
}

body {
    background-color: 'red';
}

:root {
    --energy-blue-light: #7bdeff;
    --energy-blue: rgb(0, 199, 253);

    --daisy-shade: rgb(237, 178, 0); /* #edb200 */
    --brand-daisy: #fec91b;
    --brand-daisy-tint: #ffe17a;
    --brand-rust: #e96115;

    --annotation-fill: var(--daisy-shade);
    --annotation-stroke: var(--energy-blue-light, #7bdeff);

    --annotation-fill: var(--color-pink-300);
    --annotation-stroke: var(--color-rose-500);

    --annotation-fill: #e9611580;
    --annotation-stroke: #7bdeff;
}
