.tabs {
    padding: var(--spectrum-global-dimension-size-400);
    background-color: var(--spectrum-global-color-gray-200);

    div[class*='spectrum-Tabs-selectionIndicator'] {
        display: none;
    }
}
