.floatingContainer {
    opacity: 0;
    position: absolute;
    padding: var(--spectrum-global-dimension-size-125);
    background: var(--spectrum-global-color-gray-50);
    border-radius: var(--spectrum-global-dimension-size-50);
}

.leftTopElement {
    top: var(--spectrum-global-dimension-size-50);
    left: var(--spectrum-global-dimension-size-50);
}

.rightTopElement {
    top: var(--spectrum-global-dimension-size-50);
    right: var(--spectrum-global-dimension-size-50);
}

[data-hovered],
[data-selected] {
    .floatingContainer {
        opacity: 1;
    }
}

[role='option'] {
    background-color: var(--spectrum-gray-100);
}
