.boxHeading {
    padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-200);
    background-color: var(--spectrum-global-color-gray-200);
}

.boxContent {
    background-color: var(--spectrum-global-color-gray-50);
    padding: var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-300);
    color: var(--spectrum-global-color-gray-700);
    font-size: var(--spectrum-global-dimension-font-size-75);
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
