.title {
    color: var(--spectrum-global-color-gray-900);
    font-weight: 500;
    line-height: var(--spectrum-global-dimension-size-350);
    font-size: var(--spectrum-global-dimension-size-250);
}

.description {
    color: var(--spectrum-global-color-gray-700);
    display: block;
    max-width: var(--spectrum-global-dimension-size-2400);
    margin-top: var(--spectrum-global-dimension-size-200);
}

.option {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: var(--spectrum-global-dimension-size-25) solid var(--spectrum-global-color-gray-200);
    border-radius: var(--spectrum-alias-border-radius-regular);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--spectrum-global-color-gray-100);

    &:has(:checked) {
        border-color: var(--energy-blue);
    }

    &:has(:checked) {
        background-color: var(--selection-dark-blue);
    }

    &:has(:checked) [class*='spectrum-Radio-button']:before {
        border-color: var(--energy-blue) !important;
    }
}

.option label {
    margin: 0;
}
