.grid {
    background-color: var(--spectrum-global-color-gray-100);
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
