.stroke {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
}

.animateStroke {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    animation: dash 40s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
