.tag {
    background-color: var(--spectrum-gray-100);
    border-radius: var(--spectrum-global-dimension-size-50);
    padding: var(--spectrum-global-dimension-size-25) var(--spectrum-global-dimension-size-50);
    align-items: center;
    justify-content: center;
    color: var(--spectrum-global-color-gray-800);
}
