@font-face {
    font-family: intelOne;
    src: url(./assets/fonts/intelone-text-regular.woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: intelOne;
}

:root {
    height: 100vh;

    --background: #313236;
    --background-inverse: #3c3e42;
    --coral: #ff5662;
    --energy-blue-light: #7bdeff;
    --energy-blue: rgb(0, 199, 253);

    --daisy-shade: rgb(237, 178, 0); /* #edb200 */
    --brand-daisy: #fec91b;
    --brand-daisy-tint: #ffe17a;
    --brand-rust: #e96115;

    --annotation-fill: var(--energy-blue);
    --annotation-stroke: var(--energy-blue-light, #7bdeff);

    --moss-tint-1: #b1d272;

    --spectrum-button-primary-text-font-weight: 500;
    --spectrum-accent-background-color-default: var(--energy-blue);
    --spectrum-accent-background-color: var(--energy-blue);
    --spectrum-accent-background-color-disabled: var(--spectrum-global-color-gray-200);
    --spectrum-accent-border-color: var(--energy-blue);
    --spectrum-button-text-color: var(--spectrum-global-color-gray-50) !important;
    --spectrum-accent-background-color-key-focus: var(--energy-blue);
    --spectrum-global-color-blue-300: rgb(20, 103, 200);

    --spectrum-accent-border-color-hover: var(--energy-blue-shade);
    --spectrum-button-text-color-hover: var(--spectrum-global-color-gray-50);
    --spectrum-accent-background-color-hover: var(--spectrum-global-color-blue-300);
    --spectrum-global-color-blue-200: rgb(13, 90, 188);

    --spectrum-accent-border-color-down: var(--energy-blue-shade-darker);
    --spectrum-button-text-color-down: var(--spectrum-global-color-gray-50);
    --spectrum-accent-background-color-down: var(--spectrum-global-color-blue-200);

    --spectrum-button-text-background-color-down: var(--energy-blue-shade-darker);
    --spectrum-button-text-border-color-down: var(--energy-blue-shade-darker);

    --spectrum-high-contrast-button-face: var(--spectrum-global-color-gray-50);
    --spectrum-high-contrast-gray-text: var(--spectrum-global-color-gray-500);
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    height: 100%;
}

#root,
#theme-provider {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer !important;
}

svg {
    fill: currentColor;
}
