.tabList {
    display: grid;
    margin: 0 auto;
    height: var(--spectrum-global-dimension-size-500);
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1052px;
}

.tab {
    transition: 0.3s color ease-in-out;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: var(--spectrum-global-color-gray-400);
    }

    &[data-hovered] {
        color: white;
    }

    &[data-selected] {
        color: white;

        &:after {
            height: 4px;
            background-color: var(--energy-blue);
        }
    }
}
