name: Build Docs for releases

on:
  release:
    types: [published]

permissions: {} # No permissions by default on workflow level

jobs:
  Build-Docs:
    runs-on: ubuntu-24.04
    permissions:
      contents: write # needed to commit docs
    steps:
      - name: Runner cleanup
        uses: open-edge-platform/geti-ci/actions/cleanup-runner@c2bb2697178bb2e50014420aef2351a45749b925
        with:
          type: "initial"
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"
      - name: Install tox
        working-directory: library
        run: |
          pip install '.[dev]'
      - name: Build-Docs
        working-directory: library
        run: tox -e build-doc
      - name: Create gh-pages branch
        run: |
          echo RELEASE_VERSION=${GITHUB_REF#refs/*/} >> $GITHUB_ENV
          echo SOURCE_NAME=${GITHUB_REF#refs/*/} >> $GITHUB_OUTPUT
          echo SOURCE_BRANCH=${GITHUB_REF#refs/heads/} >> $GITHUB_OUTPUT
          echo SOURCE_TAG=${GITHUB_REF#refs/tags/} >> $GITHUB_OUTPUT
          existed_in_remote=$(git ls-remote --heads origin gh-pages)

          if [[ -z ${existed_in_remote} ]]; then
            echo "Creating gh-pages branch"
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git checkout --orphan gh-pages
            git reset --hard
            touch .nojekyll
            git add .nojekyll
            git commit -m "Initializing gh-pages branch"
            git push origin gh-pages
            git checkout ${{steps.branch_name.outputs.SOURCE_NAME}}
            echo "Created gh-pages branch"
          else
            echo "Branch gh-pages already exists"
          fi
      - name: Commit docs to gh-pages branch
        working-directory: library
        run: |
          git fetch
          git checkout gh-pages
          mkdir -p /tmp/docs_build
          cp -r ./docs/build/html* /tmp/docs_build/
          rm -rf ${{ env.RELEASE_VERSION }}/*
          echo '<html><head><meta http-equiv="refresh" content="0; url=stable/" /></head></html>' > index.html
          mkdir -p ${{ env.RELEASE_VERSION }}
          cp -r /tmp/docs_build/* ./${{ env.RELEASE_VERSION }}
          ln -sfn ${{ env.RELEASE_VERSION }} stable
          rm -rf /tmp/docs_build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ./stable ${{ env.RELEASE_VERSION }}
          git commit -m "Update documentation" -a || true
      - name: Push changes
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
