name: Build Docs for the latest

on:
  workflow_dispatch: # run on request (no need for PR)
  push:
    branches:
      - develop

permissions: {} # No permissions by default on workflow level

jobs:
  Build-Docs:
    runs-on: ubuntu-24.04
    permissions:
      contents: write # needed to commit docs
    steps:
      - name: Runner cleanup
        uses: open-edge-platform/geti-ci/actions/cleanup-runner@d30e32248aa6bd06adeda7129b50a38bdbceca12
        with:
          type: "initial"
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
      - name: Install dependencies
        working-directory: library
        run: |
          python -m pip install uv
      - name: Build-Docs
        working-directory: library
        run: |
          uv venv .otx
          source .otx/bin/activate
          uv pip install .[docs]
          cd docs
          make clean
          make html
      - name: Create gh-pages branch
        run: |
          if [[ ${{github.event_name}} == 'workflow_dispatch' ]]; then
            echo RELEASE_VERSION="test_build" >> $GITHUB_ENV
          else
            echo RELEASE_VERSION=${GITHUB_REF#refs/*/} >> $GITHUB_ENV
          fi
          echo SOURCE_NAME=${GITHUB_REF#refs/*/} >> $GITHUB_OUTPUT
          echo SOURCE_BRANCH=${GITHUB_REF#refs/heads/} >> $GITHUB_OUTPUT
          echo SOURCE_TAG=${GITHUB_REF#refs/tags/} >> $GITHUB_OUTPUT

          existed_in_remote=$(git ls-remote --heads origin gh-pages)

          if [[ -z ${existed_in_remote} ]]; then
            echo "Creating gh-pages branch"
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git checkout --orphan gh-pages
            git reset --hard
            touch .nojekyll
            git add .nojekyll
            git commit -m "Initializing gh-pages branch"
            git push origin gh-pages
            git checkout ${{steps.branch_name.outputs.SOURCE_NAME}}
            echo "Created gh-pages branch"
          else
            echo "Branch gh-pages already exists"
          fi
      - name: Commit docs to gh-pages branch
        working-directory: library
        env:
          RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
        run: |
          git fetch
          git checkout gh-pages
          mkdir -p /tmp/docs_build
          cp -r ./docs/build/html/* /tmp/docs_build/
          rm -rf "$RELEASE_VERSION"/*
          echo '<html><head><meta http-equiv="refresh" content="0; url=stable/" /></head></html>' > index.html
          mkdir -p "$RELEASE_VERSION"
          cp -r /tmp/docs_build/* ./"$RELEASE_VERSION"
          rm -rf /tmp/docs_build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          if [[ "$RELEASE_VERSION" != 'test_build' ]]; then
            ln -sfn "$RELEASE_VERSION" latest
          fi
          git add ./latest "$RELEASE_VERSION"
          git commit -m "Update documentation" -a || true
      - name: Push changes
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
