name: Performance Benchmark V2

on:
  workflow_dispatch: # run on request (no need for PR)
    inputs:
      num-repeat:
        description: Overrides default per-data-group number of repeat setting
        type: number
        default: 5
      num-epoch:
        description: Overrides default per-model number of epoch setting. If 0, use default from template.
        type: number
        default: 0
      eval-upto:
        type: choice
        description: The last operation to evaluate. 'optimize' means all.
        options:
          - train
          - export
          - optimize
        default: optimize
      data-root:
        type: string
        description: Root directory containing validation data in CI server.
        default: "/home/validation/data/v2/"
  workflow_call:
    inputs:
      num-repeat:
        type: number
        description: Overrides default per-data-group number of repeat setting
        default: 5
      num-epoch:
        type: number
        description: Overrides default per-model number of epoch setting. If 0, use default from template.
        default: 0
      eval-upto:
        type: string
        description: The last operation to evaluate. 'optimize' means all. [train, export, optimize]
        default: optimize
      data-root:
        type: string
        description: Root directory containing validation data in CI server.
        default: "/home/validation/data/v2/"

# Declare default permissions as read only.
permissions: read-all

jobs:
  Perf-Benchmark-Run:
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: anomaly
          - task: detection
          - task: multi_class_cls
          - task: multi_label_cls
          - task: h_label_cls
          - task: instance_segmentation
          - task: semantic_segmentation

    name: Perf-Benchmark-${{ matrix.task }}
    runs-on: [self-hosted, Linux, X64, dev, dmount]
    timeout-minutes: 8640
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"
      - name: Install tox
        working-directory: library
        run: |
          pip install '.[dev]'
      - name: Run Performance Test
        working-directory: library
        env:
          BENCHMARK_RESULTS_CLEAR: ${{ vars.BENCHMARK_RESULTS_CLEAR }}
          GH_CTX_REF_NAME: ${{ github.ref_name }}
          GH_CTX_SHA: ${{ github.sha }}
          TASK: ${{ matrix.task }}
          DATA_ROOT: ${{ inputs.data-root }}
          NUM_REPEAT: ${{ inputs.num-repeat }}
          NUM_EPOCH: ${{ inputs.num-epoch }}
          EVAL_UPTO: ${{ inputs.eval-upto }}
          TRIGGERING_ACTOR: ${{ github.triggering_actor }}
        run: |
          rm -rf .tox
          export GITHUB_ACTOR="$TRIGGERING_ACTOR"
          export DEVICE="gpu"
          export SUMMARY_FILE_ROOT=".tox"
          tox -vv -e perf-benchmark-v2

      - name: Upload test results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: benchmark-results-${{ matrix.task }}
          include-hidden-files: true
          path: ${{ github.workspace }}/library/.tox/${{ matrix.task }}-*.xlsx
